html {
    background-color: rgb(47, 47, 71);
    color: white;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
}

footer{
    background-color: rgb(62, 62, 78);
    text-align: center;
    padding: 1rem;
}

header {
    background-color: rgb(47, 47, 71);
    text-align: center;
    padding: 1rem;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 1pc;
}

nav ul li a {
    color: aquamarine;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 2rem;
    
    padding-top: 5rem;
}

section {
    margin-bottom: 3rem;
}

.juego {
    background-color: rgb(62, 62, 78);
    padding: 1rem;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.juego img {
    width: 250px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

.juego h3 {
    margin: 0;
    font-size: 1.3rem;
    color: #f0f0f0;
}

.juego p {
    margin-top: 0.5rem;
    line-height: 1.4;
    font-size: 1rem;
    color: #ddd;
}

.paraq img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

footer {
    font-size: 0.9rem;
    margin-top: 3rem;
}

nav ul li a:hover {
    color: gold;
    text-decoration: underline;
    transition: color 0.3s ease, text-decoration 0.3s ease;
    text-decoration: none
}
/*fr= aliniacion de imagenes*/
/*el grind-template-colums sirve para organizar las imagenes*/
/*gap da el espacio a las imagenes*/
.galeria-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.galeria-grid img {
    width: 100%;
    height: 180px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.4);
    transition: transform 0.3s ease;
    
}
/*animacion de imagen*/
.galeria-grid img:hover {
    transform: scale(1.05);
}
/*imagen ampliada*/
.lightbox {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.85);
    justify-content: center;
    align-items: center;
    
}

.lightbox img {
    max-width: 90%;
    max-height: 100%;
    border-radius: 10px;
}

nav {
    background-color: rgb(62, 62, 78);
    padding: 0.5rem;
    text-align: center;
    position: sticky;
    top: 0;
}

@media (max-width: 600px){
    .juego{
        flex-direction: column;
        align-items: flex-start;
    }
    
    .juego img {
        width: 100%;
        height: auto;
    }

    .juego div{
        width: 100%;
    }
    .juego h3 {
        font-size: 1rem;
    }
}
